<div class="editar-producto-container">
  <div class="form-box">
    <h2>Crear Usuario</h2>


    <form (submit)="crearUsuario()">
      <div class="input-group">
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="nombre" name="nombre" required />
      </div>

      <div class="input-group">
        <label>Email:</label>
        <input type="email" [(ngModel)]="email" name="email" required />
      </div>

      <div class="input-group">
        <label>Contraseña:</label>
        <input type="password" [(ngModel)]="password" name="password" required />
      </div>

      <div class="input-group">
        <label>Teléfono:</label>
        <input type="text" [(ngModel)]="telefono" name="telefono" />
      </div>

      <div class="input-group">
        <label>Rol:</label>
        <select [(ngModel)]="rol" name="rol" required>
          <option *ngFor="let r of rolesDisponibles" [value]="r">{{ r }}</option>
        </select>
      </div>

      <label>Farmacia:</label>
      <select [(ngModel)]="idFarmacia" name="idFarmacia" required>
        <option *ngFor="let f of farmacias" [value]="f.idFarmacia">{{ f.nombre }}</option>
      </select>
      

      <div *ngIf="mensajeError" class="alerta error">
        {{ mensajeError }}
      </div>

      <div *ngIf="mensajeExito" class="alerta exito">
        {{ mensajeExito }}
      </div>


      <div class="btn-container">
        <button type="submit" class="btn-actualizar">Crear Usuario</button>
      </div>
    </form>
  </div>
</div>