<div class="contenedor-principal">
    <div class="encabezado">
        <h2 class="titulo">✏️ Editar Usuario</h2>
    </div>

    <form *ngIf="usuarioForm" [formGroup]="usuarioForm" (ngSubmit)="actualizarUsuario()" class="formulario-cliente">
        <label>Nombre</label>
        <input formControlName="nombre" type="text" />

        <label>Apellido</label>
        <input formControlName="apellido" type="text" />

        <label>Correo</label>
        <input formControlName="correo" type="email" />

        <label>Usuario</label>
        <input formControlName="usuario" type="text" />

        <!-- <label>Rol</label>
        <input type="text" [value]="usuarioForm.get('rol')?.value" /> -->

        <!-- Campo Rol solo para visualización -->
        <label>Rol</label>
        <input type="text" [value]="usuarioForm.get('rol')?.value" readonly disabled />

        <!-- Combo para cambiar puesto técnico si aplica -->
        <div *ngIf="usuarioForm.get('rol')?.value === 'TECNICO'">
            <label>Puesto Técnico</label>
            <select formControlName="puestoTecnico">
                <option [value]="null">Seleccione un puesto</option>
                <option value="Soporte Técnico">Soporte Técnico</option>
                <option value="Mantenimiento Preventivo">Mantenimiento Preventivo</option>
                <option value="Instalación de Infraestructura">Instalación de Infraestructura</option>
                <option value="Implementación de Sistemas">Implementación de Sistemas</option>
            </select>
        </div>


        <label>DPI</label>
        <input formControlName="dpi" type="text" />

        <label>NIT</label>
        <input formControlName="nit" type="text" />

        <label>Dirección</label>
        <input formControlName="direccion" type="text" />

        <!-- Mostrar el combo de supervisores SOLO si el usuario a editar es TECNICO y el logueado es ADMIN -->
        <div *ngIf="usuarioForm?.get('rol')?.value === 'TECNICO' && rolUsuarioLogueado === 'ADMIN'">
            <label>Supervisor</label>
            <select formControlName="idSupervisor">
                <option *ngFor="let supervisor of listaSupervisores" [value]="supervisor.idUsuario">
                    {{ supervisor.usuario }}
                </option>
            </select>
        </div>

        <!-- Mostrar puesto técnico solo si el usuario es técnico -->
        <div *ngIf="usuarioForm?.get('rol')?.value === 'TECNICO'">
            <label>Puesto Técnico</label>
            <select formControlName="puestoTecnico">
                <option [value]="null">Seleccione un puesto</option>
                <option value="Soporte Técnico">Soporte Técnico</option>
                <option value="Mantenimiento Preventivo">Mantenimiento Preventivo</option>
                <option value="Instalación de Infraestructura">Instalación de Infraestructura</option>
                <option value="Implementación de Sistemas">Implementación de Sistemas</option>
            </select>
        </div>


        <button type="submit" [disabled]="usuarioForm.invalid || !formEditado" class="btn-guardar">
            Guardar Cambios
        </button>
    </form>
</div>