<div class="crear-categoria-container">
    <div class="form-box">
      <h2>Crear Nueva Categoría</h2>
      <form (submit)="crearCategoria()">
  
        <div class="input-group">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]="categoria.nombre" name="nombre" required />
        </div>
  
        <div class="input-group">
          <label>Descripción:</label>
          <textarea [(ngModel)]="categoria.descripcion" name="descripcion" required></textarea>
        </div>
  
        <div class="input-group">
          <label>Estado:</label>
          <select [(ngModel)]="categoria.estado" name="estado">
            <option [value]="true">Activo</option>
            <option [value]="false">Inactivo</option>
          </select>
        </div>
  
        <button type="submit" class="btn-crear">Crear Categoría</button>
      </form>
  
      <p *ngIf="mensaje">{{ mensaje }}</p>
    </div>
  </div>
  