.contenedor-reporte {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.titulo-reporte {
  font-size: 22px;
  margin-bottom: 20px;
}

.tabla-reportes {
  width: 100%;
  border-collapse: collapse;
}

.tabla-reportes th, .tabla-reportes td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.boton-detalle {
  background-color: #06b6d4;
  color: white;
}

.boton-detalle:hover {
  background-color: #0891b2;
}

.boton {
  padding: 6px 14px;
  margin-right: 6px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 14px;
}


.badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 500;
}
