<div class="editar-categoria-container">
    <div class="form-box">
      <h2>Editar Categoría</h2>
      <form (submit)="actualizarCategoria()">
        <div class="input-group">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]="nombre" name="nombre" required />
        </div>
  
        <div class="input-group">
          <label>Descripción:</label>
          <textarea [(ngModel)]="descripcion" name="descripcion" required></textarea>
        </div>
  
        <div class="input-group">
          <label>Estado:</label>
          <select [(ngModel)]="estado" name="estado" required>
            <option [value]="true">Activo</option>
            <option [value]="false">Inactivo</option>
          </select>
        </div>
  
        <div class="btn-container">
          <button type="submit" class="btn-actualizar">Actualizar Categoría</button>
        </div>
      </form>
    </div>
  </div>
  