<div class="productos-container">
    <h2>Lista de Proveedores</h2>
  
    <div class="top-bar">
      <button class="btn-add" routerLink="/crear-proveedor">➕ Registrar proveedor</button>
      <input
        type="text"
        class="search-input"
        placeholder="Buscar..."
        [(ngModel)]="busqueda"
      />
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Empresa</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Fecha Nac.</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedoresFiltrados()">
          <td>{{ proveedor.idProveedor }}</td>
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.empresa }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.direccion }}</td>
          <td>{{ proveedor.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
          <td>
            <div class="dropdown-container">
              <button class="modify-btn">✏️ Modificar ▼</button>
              <div class="dropdown-menu">
                <button (click)="editarProveedor(proveedor.idProveedor)">
                  ✏️ Editar
                </button>
                <button (click)="eliminarProveedor(proveedor.idProveedor)">
                  🗑️ Eliminar
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  