<div class="productos-container">
    <h2>Historial de Entradas</h2>
  
    <div *ngIf="mensaje" class="alerta-error">{{ mensaje }}</div>
  
    <table *ngIf="historial.length > 0">
      <thead>
        <tr>
          <th>ID Inventario</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Fecha de Ingreso</th>
          <th>Proveedor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of historial">
          <td>{{ item.idInventario }}</td>
          <td>{{ item.cantidad }}</td>
          <td>${{ (+item.precioUnitario).toFixed(2) }}</td>
          <td>{{ item.fechaIngreso | date: 'dd/MM/yyyy, h:mm a' }}</td>
          <td>{{ item.proveedor?.nombre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  