  <div class="productos-container">
    <h2>Gestión de Productos</h2>

    <div class="productos-header">
        <button class="btn-add" (click)="irCrearProducto()">➕ Crear Producto</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{ producto.id }}</td>
                <td><img [src]="producto.imagen_url" alt="Producto" class="product-img"/></td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.categoria_id }}</td>
                <td>
                    <button (click)="editarProducto(producto.id)" class="btn-edit">✏️</button>
                    <button (click)="eliminarProducto(producto.id)" class="btn-eliminar">🗑️</button> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
