<div class="productos-container">
    <h2>Lista de productos</h2>
  
    <div class="top-bar">
      <button class="btn-add" (click)="irCrearProducto()">➕ Registrar producto</button>
      <input
        type="text"
        class="search-input"
        placeholder="Buscar..."
        [(ngModel)]="busqueda"
      />
    </div>
  
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Categoría</th>
          <th>Foto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosFiltrados()">
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>${{ producto.precio }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.categoria_id }}</td>
          <td><img [src]="producto.imagen_url" class="product-img" alt="Producto" /></td>

          <td>
            <div class="dropdown-container">
              <button class="modify-btn">
                ✏️ Modificar ▼
              </button>
              <div class="dropdown-menu">
                <button (click)="editarProducto(producto.id)">
                  ✏️ Editar
                </button>
                <button (click)="eliminarProducto(producto.id)">
                  🗑️ Eliminar
                </button>
              </div>
            </div>
          </td>
          
          
          
        </tr>
      </tbody>
    </table>
  </div>
  
