<div class="contenedor-principal">
    <div class="encabezado">
        <h2 class="titulo">✏️ Editar Cliente</h2>
    </div>

    <div *ngIf="cargando" class="sin-visitas">
        Cargando datos del cliente...
    </div>

    <form *ngIf="!cargando" [formGroup]="clienteForm" (ngSubmit)="guardarCambios()" class="formulario-cliente">
        <label>Nombre del Cliente</label>
        <input formControlName="nombreCliente" type="text" />

        <label>Nombre del Negocio</label>
        <input formControlName="nombreNegocio" type="text" />

        <label>Teléfono</label>
        <input formControlName="telefono" type="text" />

        <label>Correo</label>
        <input formControlName="correo" type="email" />

        <label>NIT</label>
        <input formControlName="nit" type="text" />

        <!-- <label>Estado</label>
        <select formControlName="estado">
            <option [value]="true">Activo</option>
            <option [value]="false">Inactivo</option>
        </select> -->

        <!-- <label>ID Rol</label>
        <input formControlName="idRol" type="number" /> -->

        <label>Nombre Técnico</label>
        <select formControlName="idTecnico" (change)="onTecnicoSeleccionado()">
            <option *ngFor="let tecnico of tecnicos" [value]="tecnico.idUsuario">
                {{ tecnico.nombreTecnico }}
            </option>
        </select>

        <!-- Campo oculto para mantener nombreTecnico actualizado -->
        <input type="hidden" formControlName="nombreTecnico" />

        <label for="searchInput">Buscar dirección</label>
        <div class="search-container">
            <input #searchInput id="searchInput" type="text" placeholder="Buscar dirección..." />
            <button *ngIf="searchInput.value" class="clear-btn" (click)="searchInput.value = ''">×</button>
        </div>
        <div #mapElement id="map" style="height: 300px; width: 100%; margin-top: 20px;"></div>



        <button type="submit" [disabled]="clienteForm.invalid || !formEditado" class="btn-guardar">
            Guardar Cambios
        </button>

    </form>
</div>