   <div class="crear-producto-container">
    <div class="form-box">
      <h2>Crear Producto</h2>
      <form (submit)="crearProducto()">
        
        <div class="input-group">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]="nombre" name="nombre" required />
        </div>
  
        <div class="input-group">
          <label>Descripción:</label>
          <textarea [(ngModel)]="descripcion" name="descripcion" required></textarea>
        </div>
  
        <div class="input-group">
          <label>Precio:</label>
          <input type="number" [(ngModel)]="precio" name="precio" required min="0" />
        </div>
  
        <div class="input-group">
          <label>Stock:</label>
          <input type="number" [(ngModel)]="stock" name="stock" required min="0" />
        </div>
  
        <div class="input-group">
          <label>Categoría:</label>
          <select [(ngModel)]="categoria_id" name="categoria_id" required>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.nombre }}
            </option>
          </select>
        </div>
  
        <div class="input-group">
          <label>Imagen del Producto:</label>
          <input type="file" (change)="seleccionarImagen($event)" required />
        </div>
  
        <button type="submit" class="btn-crear">Crear Producto</button>
      </form>
    </div>
  </div>
  