<div class="productos-container">
    <h2>Lista de Farmacias</h2>
  
    <div class="top-bar">
      <button class="btn-add" (click)="irCrearFarmacia()">➕ Registrar farmacia</button>
      <input
        type="text"
        class="search-input"
        placeholder="Buscar..."
        [(ngModel)]="busqueda"
      />
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of farmaciasFiltradas()">
          <td>{{ f.idFarmacia }}</td>
          <td>{{ f.nombre }}</td>
          <td>{{ f.direccion }}</td>
          <td>{{ f.telefono }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  