<div class="contenedor-principal">
    <div class="encabezado">
        <h2 class="titulo">🗓️ Detalle de la visita</h2>
    </div>

    <p><strong>ID de visita:</strong> {{ idVisita }}</p>
    <p><strong>Estado:</strong> {{ estado || '---' }}</p>
    <p><strong>Cliente:</strong> {{ nombreCliente || '---' }}</p>
    <p><strong>Negocio:</strong> {{ nombreNegocio || '---' }}</p>

    <div class="btns-container">
        <button class="boton-accion" [disabled]="loading || estado === 'SERVICIO INICIADO'" (click)="iniciarServicio()">
            Iniciar servicio
        </button>

        <button class="boton-accion" [disabled]="loading" (click)="finalizarServicio()">
            Finalizar servicio
        </button>
    </div>

    <p *ngIf="mensaje" class="loader">{{ mensaje }}</p>
</div>