<div class="card-contenedor">
  <h3 class="titulo">
    <i class="fa-solid fa-key"></i> Cambiar Contraseña
  </h3>

  <div class="formulario">
    <div class="grupo">
      <label for="actual">Contraseña actual:</label>
      <input type="text" id="actual" [value]="contrasenaActual" readonly />
    </div>

    <div class="grupo">
      <label for="nueva">Nueva contraseña:</label>
      <input type="password" id="nueva" [(ngModel)]="nuevaContrasena" placeholder="Ingrese nueva contraseña" />
    </div>

    <button class="btn-guardar" [disabled]="!nuevaContrasena" (click)="cambiarContrasena()">
      Cambiar Contraseña
    </button>
  </div>
</div>

