<div class="crear-producto-container">
    <div class="form-box">
      <h2>Crear Proveedor</h2>
  
      <div *ngIf="mensajeError" class="alerta error">
        {{ mensajeError }}
      </div>
  
      <div *ngIf="mensajeExito" class="alerta exito">
        {{ mensajeExito }}
      </div>
  
      <form (submit)="crearProveedor()">
        <div class="input-group">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]="nombre" name="nombre" required />
        </div>
  
        <div class="input-group">
          <label>Empresa:</label>
          <input type="text" [(ngModel)]="empresa" name="empresa" required />
        </div>
  
        <div class="input-group">
          <label>Teléfono:</label>
          <input type="text" [(ngModel)]="telefono" name="telefono" />
        </div>
  
        <div class="input-group">
          <label>Dirección:</label>
          <input type="text" [(ngModel)]="direccion" name="direccion" />
        </div>
  
        <div class="input-group">
          <label>Fecha de Nacimiento:</label>
          <input type="date" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" />
        </div>
  
        <button type="submit" class="btn-crear">Crear Proveedor</button>
      </form>
    </div>
  </div>
  