<!-- <div id="map" style="height: 400px; width: 100%;"></div>

<div style="margin-top: 10px;">
    <p><strong>Latitud:</strong> {{ latitud }}</p>
    <p><strong>Longitud:</strong> {{ longitud }}</p>
    <button (click)="guardar()" [disabled]="!latitud || !longitud">Guardar ubicación</button>
</div> -->

<div style="margin-bottom: 10px;">
  <label for="nombre">Nombre del cliente:</label><br>
  <input type="text" id="nombre" [(ngModel)]="nombre" placeholder="Ej: Farmacia Suyapa" />
</div>

<div id="map" style="height: 400px; width: 100%;"></div>

<div style="margin-top: 10px;">
  <p><strong>Latitud:</strong> {{ latitud }}</p>
  <p><strong>Longitud:</strong> {{ longitud }}</p>
  <button (click)="guardar()" [disabled]="!latitud || !longitud || !nombre.trim()">Guardar ubicación</button>
</div>
