<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="toggle-btn" (click)="toggleSidebar()">
    <i class="fa-solid" [ngClass]="isCollapsed ? 'fa-bars' : 'fa-xmark'"></i>
  </div>

  <ul class="menu">
    <li routerLink="/dashboard" routerLinkActive="active">
      <i class="fa-solid fa-chart-line"></i>
      <span *ngIf="!isCollapsed">Dashboard</span>
    </li>

    <!-- clientes -->
    <li *ngIf="usuario?.rol === 'ADMIN' || usuario?.rol === 'SUPERVISOR'" (click)="toggleClientes()">
      <i class="fa-solid fa-users"></i>
      <span *ngIf="!isCollapsed">Clientes</span>
      <i class="fa-solid" *ngIf="!isCollapsed" [ngClass]="clienteExpanded ? 'fa-chevron-up' : 'fa-chevron-down'"
        style="margin-left:auto;"></i>
    </li>

    <ul class="submenu"
      *ngIf="clienteExpanded && !isCollapsed && (usuario?.rol === 'ADMIN' || usuario?.rol === 'SUPERVISOR')">
      <li *ngIf="puedeAgregarEditarCliente" routerLink="/agregar-cliente" routerLinkActive="active">Agregar Cliente</li>
      <li *ngIf="puedeConsultarCliente" routerLink="/listar-clientes" routerLinkActive="active">Consultar Clientes</li>
    </ul>



    <!-- USUAIRO -->
    <li *ngIf="usuario?.rol === 'ADMIN' || usuario?.rol === 'SUPERVISOR'" (click)="toggleUsuarios()">
      <i class="fa-solid fa-users"></i>
      <span *ngIf="!isCollapsed">Usuarios</span>
      <i class="fa-solid" *ngIf="!isCollapsed" [ngClass]="usuarioExpanded ? 'fa-chevron-up' : 'fa-chevron-down'"
        style="margin-left:auto;"></i>
    </li>

    <ul class="submenu"
      *ngIf="usuarioExpanded && !isCollapsed && (usuario?.rol === 'ADMIN' || usuario?.rol === 'SUPERVISOR')">
      <li *ngIf="puedeAgregarEditarUsuario" routerLink="/crear-usuario" routerLinkActive="active">Agregar Usuario</li>
      <li *ngIf="puedeConsultarUsuario" routerLink="/listar-usuario" routerLinkActive="active">Consultar Usuarios</li>
    </ul>

    <!-- NUEVO MENÚ VISITAS -->
    <li (click)="toggleVisitas()">
      <i class="fa-solid fa-calendar-check"></i>
      <span *ngIf="!isCollapsed">Visitas</span>
      <i class="fa-solid" *ngIf="!isCollapsed" [ngClass]="visitasExpanded ? 'fa-chevron-up' : 'fa-chevron-down'"
        style="margin-left:auto;"></i>
    </li>

    <!-- Submenú de Visitas -->
    <ul class="submenu" *ngIf="visitasExpanded && !isCollapsed">
      <li *ngIf="usuario?.rol !== 'TECNICO'" routerLink="/registrar-visita" routerLinkActive="active">Registrar Visita
      </li>
      <li [routerLink]="rutaConsultarVisitas()" routerLinkActive="active">Consultar Visitas</li>
      <li *ngIf="usuario?.rol === 'SUPERVISOR' || usuario?.rol === 'TECNICO'"
        [routerLink]="rutaConsultarSupervisoresVisitas()" routerLinkActive="active">
        Consultar historial visitas
      </li>
    </ul>

    <!-- FIN MENÚ VISITAS -->

    <li [routerLink]="rutaDashboard()" routerLinkActive="active" routerLink="/reporte-tecnico">
      <i class="fa-solid fa-file-lines"></i>
      <span *ngIf="!isCollapsed">Reportes</span>
    </li>

    <li routerLink="/configuracion" routerLinkActive="active">
      <i class="fa-solid fa-gear"></i>
      <span *ngIf="!isCollapsed">Configuración</span>
    </li>
  </ul>
</div>