.contenedor-tabla {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #343a40;
  color: white;
}

tr:hover {
  background-color: #f2f2f2;
}

.contenedor-resumen {
  padding: 25px;
}

.card-supervisor-resumen {
  background-color: #f1f5f9;
  border-radius: 8px;
  padding: 16px 20px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.encabezado-supervisor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9eff5;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 15px;
}

.icono {
  margin-right: 10px;
}

.card-tecnico {
  background-color: #eaf4ff;
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tecnico-info {
  font-weight: 600;
  color: #1e3a8a;
}

.rol {
  font-weight: 400;
  font-size: 13px;
  color: #555;
}
.badges {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  background-color: #f1f5f9;
  color: #1e293b;
  border: 1px solid transparent;
}

.badge.total {
  background-color: #e0f2fe;
  color: #0284c7;
  border-color: #bae6fd;
}

.badge.creadas {
  background-color: #e0e7ff;
  color: #4338ca;
  border-color: #c7d2fe;
}

.badge.iniciadas {
  background-color: #fef9c3;
  color: #ca8a04;
  border-color: #fde68a;
}

.badge.finalizadas {
  background-color: #dcfce7;
  color: #059669;
  border-color: #bbf7d0;
}


.badge.cancelada {
  background-color: #fef9c3;
  color: #ca8a04;
  border-color: #fde68a;
}