.contenedor-listado {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

.icono-user {
  margin-right: 8px;
}

.card-supervisor {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 8px;
  background: #f9f9f9;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.card-supervisor:hover {
  background-color: #e6f7ff;
}

.contenedor-tecnicos {
  margin-left: 20px;
  padding: 8px 12px;
  border-left: 3px solid #0ea5e9;
  margin-bottom: 15px;
}

.tecnico {
  padding: 5px 0;
}

.rol {
  color: #555;
  font-size: 13px;
}

.sin-tecnicos {
  font-style: italic;
  color: #888;
  padding: 8px;
}

.btn-editar {
  margin-left: auto;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
  float: right;
}

.btn-editar:hover {
  background-color: #2563eb;
}

.btn-editar-chico {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  vertical-align: middle;
}


.contenedor-usuarios-card {
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
  max-width: 900px;
  margin: 40px auto;
  border: 1px solid #e5e7eb;
}

.contenedor-usuarios-card h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}



.contenedor-boton-derecha {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 0 20px;
}

.btn-descargar {
  background-color: #007BFF;
  color: white;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.btn-descargar:hover {
  background-color: #0056b3;
}
