<div class="login-wrapper">
  <div class="login-card">
    <div class="login-icon-section">
      <i class="fa-solid fa-right-to-bracket icon"></i>
    </div>
    <div class="login-form-section">
      <h2>Iniciar Sesión</h2>
      <form (ngSubmit)="iniciarSesion()" #formLogin="ngForm">
        <input type="email" name="correo" [(ngModel)]="datos.correo" placeholder="Correo" required email
          #correo="ngModel" [class.input-error]="correo.invalid && correo.touched" />
        <span *ngIf="correo.invalid && correo.touched">Ingresa un correo válido.</span>
        <input type="password" name="contrasena" [(ngModel)]="datos.contrasena" placeholder="Contraseña" required />

        <button type="submit">Ingresar</button>
      </form>
      <div class="extra-options">

      </div>
    </div>
  </div>
</div>